
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Norse-Bold;
  src: local(Norse-Bold), url('assets/fonts/Norse-Bold.otf');
}

body {
  height: 100vh;
  display: flex;
  a
}

.container {
  position: relative;
  width: 100%
  border: solid 2px red;
  
}

.fotoCont {
 
  width:25rem;
	height:50rem;
}

.form {
  
  max-width: 200px;
}

.foto {
  position: absolute;
  width:25rem;
	height:50rem;
}

.logo {
  width: 30px;
  background-color: black;
  opacity: 0.33;
  
  
}

.logoEnome p {
  font-family: Norse-Bold;
  background-color: black;
  opacity: 0.33;
  color: white;
}

//colocar como column